* {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

*,
body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);

  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);

  --white: hsl(0, 100%, 100%);
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

h1 {
  font-family: "Poppins", sans-serif;
  width: 80vw;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 2rem;
  padding: 1.2rem 5rem;
  font-weight: 700;
}

.btn-navigation {
  background-color: var(--white);
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  width: 40vw;
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0 3rem 0;
}

.screen-mockup {
  width: 75vw;
  margin: 5rem 0;
}

@media only screen and (min-width: 601px) {
  h1 {
    font-size: 3rem;
  }

  nav {
    margin: 3rem 4rem 8rem 4rem;
  }

  .btn-navigation {
    padding: 0 1.5rem;
  }

  .screen-mockup {
    width: 75vw;
    margin: 5rem 0;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    margin: 2rem 1.5rem 7rem 1.5rem;
  }

  .logo {
    width: 6rem;
    height: fit-content;
    align-self: center;
  }

  .btn-navigation {
    padding: 0.3rem 1rem;
    align-self: center;
    font-size: 0.6rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    /* width: 75vw;
    font-size: 0.7rem;
    line-height: 1.2rem; */
    width: 85vw;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .btn-primary {
    padding: 1.2rem 2rem;
    font-size: 0.8rem;
  }
}
